@charset "UTF-8";

@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#wrapper{
    height: 100vh;
}

#container-signup{
    margin: 10px auto;
    min-height: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
}

.column{
    flex-grow: 1;
    width: 50%;
}

.login-panel{
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 20px 0;
}

.message{
    font-size: 15px;
    font-weight: bold;
    color: #818181;
    width: 280px;
    margin: 10px auto;
}

.face-button{
    height: 35px;
    width: 320px;
    border: 0;
    border-radius: 8px;
    background-color: #4CB5F9;
    margin-top: 10px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="text"], input[type="password"]{
    background-color: #f6f6f6;
    border: 1px solid rgb(236, 234, 234);
    border-radius: 3px;
    height: 40px;
    width: 320px;
    margin-top: 10px;
    padding: 10px;
    font-size: 12px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder{
    color: rgb(165, 164, 164);
}

input[type="text"]:focus, input[type="password"]:focus{
    outline: 0;
    border: 1px solid #a1a1a191;
}

input[type="submit"]{
    height: 35px;
    width: 320px;
    border: 0;
    border-radius: 8px;
    background-color: #4CB5F9;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.linha-com-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 310px;
    margin: 25px auto;
}

.linha-left, .linha-right{
    flex-grow: 1;
    border-top: 1px solid rgba(219, 218, 218, 0.842);
}

.texto {
    padding: 0 20px;
    color: rgb(128, 128, 128);;
    user-select: none;
}

.text-information{
    width: 280px;
}

.text-information p{
    color: #7c7c7c;
    font-size: 12px;
    margin-top: 15px;
}

a{
    text-decoration: none;
    color: #385185;
}


.nova-conta{
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 20px 0;
    margin: 10px auto;
}

.nova-conta a{
    font-weight: bold;
    color: #3f9fdf;
}

.download{
    background-color: #ffffff;
    text-align: center;
    margin: 20px auto;
}

.download p{
    margin-bottom: 10px;
}

.download a{
    margin-right: 5px
}

footer{
    text-align: center;
    padding-bottom: 50px;
    width: 100%;
}

.footer-inner a, .footer-language{
    color: #7c7c7c;
    font-size: 12px;
    padding-left: 10px;
}

.footer-inner a:hover{
    text-decoration: underline;
}

.trocar-idioma{
    color: #7c7c7c;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.trocar-idioma:focus{
    outline: 0;
}

option{
    color: black;
}




